# Virtual environment folders
venv/
env/
.venv/
.env/

# macOS system files
.DS_Store
backend/src/__pycache__/binary_preprocess.cpython-312.pyc
backend/src/__pycache__/multiclass_preprocess.cpython-312.pyc
backend/src/__pycache__/russian_preprocess.cpython-312.pyc
backend/src/__pycache__/__init__.cpython-312.pyc
backend/src/__pycache__/unet.cpython-312.pyc
backend/src/__pycache__/english_preprocess.cpython-312.pyc
backend/src/__pycache__/english_preprocess.cpython-312.pyc
backend/src/__pycache__/english_preprocess.cpython-312.pyc
backend/src/__pycache__/speech_to_emotion.cpython-312.pyc
backend/src/__pycache__/speech_to_emotion.cpython-312.pyc
